# Django
*.py[cod]
*.pyo
*.pyd
*.pyo
*.pyc
local_settings.py

# Frontend
node_modules/
static/
templates/
staticfiles/
devnull/
webpack/

# Static files
media/
staticfiles/
collectstatic/

# Environment files
.env
.env.*
!.env.example
.vim_session

# Database
database/
migrations/
db.sqlite3
*.sqlite3
*.db
*.ftr*/

# Cache
__pycache__/
.cache/
.pytest_cache/

# Virtual Environment
venv/
env/
.venv/
# requirements-raw.txt

# Logs
*.log
logs/

# IDE & Editors
.vim_session
.session.vim
.vscode/
.idea/
*.swp
*.sublime-workspace
*.sublime-project

# Misc
TODO.md