# Django
*.py[cod]
*.pyo
*.pyd
*.pyo
*.pyc
local_settings.py

# Frontend
static/
templates/
staticfiles/

# Static files
media/
staticfiles/
collectstatic/

# Environment files
.env
.env.*
!.env.example

# Database
database/
migrations/
*.sqlite3
*.db

# Cache
__pycache__/
.cache/
.pytest_cache/

# Virtual Environment
venv/
env/
.venv/
# requirements-raw.txt

# Logs
*.log
logs/

# IDE & Editors
.vim_session
.vscode/
.idea/
*.swp
*.sublime-workspace
*.sublime-project
